RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ restic_password }}
AWS_ACCESS_KEY_ID={{ minio_user }}
AWS_SECRET_ACCESS_KEY={{ minio_secret }}
AWS_DEFAULT_REGION={{ s3_region }}
RESTIC_S3_ENDPOINT={{ s3_endpoint }}
RESTIC_CACHE_DIR={{ restic_cache_dir }}
