[Unit]
Description=VFF Backup job %i timer

[Timer]
# ежедневный запуск по умолчанию
OnCalendar={{ backup_timer_oncalendar | default("*-*-* 02:30:00") }}
Persistent=true
RandomizedDelaySec={{ backup_timer_randomized_delay | default("900s") }}

[Install]
WantedBy=timers.target
