RESTIC_REPOSITORY={{ backup_restic_repository }}
RESTIC_PASSWORD={{ backup_restic_password }}
AWS_ACCESS_KEY_ID={{ backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ backup_s3_region }}
RESTIC_S3_ENDPOINT={{ backup_s3_endpoint }}
RESTIC_CACHE_DIR=/var/cache/restic
